{% extends 'base.html.twig' %}



{% block body %}

 <h1>Listado de amigos perros</h1>

	<ul>
	    {% for perro in vectorperros %}
	        <li>{{ perro.nombre }} - {{ perro.raza }} - {{ perro.edad }} </li>
	    {% endfor %}
	</ul>
	<a href=" {{ path('perro_nuevo')}}">Añadir perro</a>

{% endblock %}
