{% extends 'base.html.twig' %}

{% block body %}


   	<h1>Empleados</h1>
	<ul>
	    {% for emp in empleados %}
	        <li><a href=" {{ path('posicion_calcular', {'posicion': loop.index0}) }}" >{{ emp}}</a></li>
	    {% endfor %}
	</ul>


{% endblock %}
