<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
    	{% block header %}

    	{% include '_base/header.html.twig' %}

		{% endblock %}
        {% block body %}{% endblock %}

	{% block footer %}

    	{% include '_base/footer.html.twig' %}

	{% endblock %}


        {% block javascripts %}{% endblock %}

    </body>

</html>